.container {
	width: 100%;
	background: yellow;
	display: flex;
	height: 300px;
	justify-content: flex-end;
	align-items: flex-end;
	
	padding-left: 0;
}

.item {
	height: 100px;
	width: 100px;
	background: purple;
	list-style: none;
	margin-left: 5px;;
}