div {
    background: #0d91a1;
    height: 140px;
    width:400px;
    padding: 5px;
    margin-top: 10px;
    border: 5px solid #7dce94;    
}

p {
    height: 140px;
    width: 400px;
    margin-top: 0;
    font-size: 30px;
    color: #084353;
    font-family:serif;
}