h1 {
    color: blue;
}

h2{
    color: orange;
}

.blue {
    color: blue;
}

li#red {
    color: red;
}

ul {
	list-style-type: square;
}

ul ul {
	list-style-type: circle;
	color: black;
}
ol {
	color: black;
}
