div {
    background: #4285f4;
    width: 200px;
    padding: 10px;
}

p {
    margin: auto;
    line-height: 100px;
    text-align: center;
    height: 100px;
    width: 200px;
    color: white;
}
.north {
    background: #e37575;
    
}

.east {
    background: #f0ee62;
}

.south {
    background: #a9e6e6;
}

.west {
    background: #7692e4;
}