body {
    background: #ff7600;
}

.menu {
    background: #383737;
    margin: -8px;
    height: 30px;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    line-height: 30px;
}

.yellow {
    background: yellow;
    height: 40px;
    font-size: 15px;
    padding: 0 10px;
    border: 0;
    
}

div {
    text-align: center;
    margin: auto;
}

.pbody {
    width: 350px;
}

.indent {
    text-align: left;
    margin-left: 15px;
    width: 190px;
}