div {
    height: 50px;
    width: 100%;
    background: #666;
    font-size: 20px;
}

div>div+div {
    margin: 10px 0;
}

div::after {
    content: attr(data-count);
    color: white;
    margin-left: 5px;
}
