
div>div {
    height: 50px;
    width: 50px;
    font-size: 20px;
    float: left;
}

div::after {
    content: attr(data-count);
    color: white;
    margin-left: 5px;
}
div>div:nth-child(2n) {
    background: #999;
}

div>div:nth-child(2n+1) {
    background: #666;
}

div {
    width: 150px;
    background: #ccc;
    display:inline-block;
}