.item {
    width: 100%;
    display: block;
    
}

.green {
    background: green;
    height: 125px;
    position: absolute;
}

.yellow {
    background: yellow;
    height: 250px;
    position: absolute;
    top: 250px;
}

.purple {
    background: purple;
    height: 125px;
    position: absolute;
    top: 125px;
}

.container {
    width: 600px;
    position: relative;
}

